body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: "Work Sans", sans-serif;
}

#side-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 33%;
    background: whitesmoke;
    border-right: 2px solid #8B4513;
    overflow-y: scroll;
}

h1 {
    padding: 8px 25px 8px 15px;
    margin: 0;
    background: #8B4513;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5em;
    text-align: right;
}

h2 {
    margin: 0;
    padding: 8px 25px 8px 15px;
    color: #8B4513;
    font-weight: 500;
    font-size: 1.2em;
    text-align: right;
}

#side-panel p {
    margin: 8px 0 4px;
    padding: 0 25px 0 15px;
    color: #3d3d3d;
    text-align: right;
    font-size: 1em;
}

#side-panel p:after {
    content: '';
    display: block;
    clear: both;
}

#side-panel img {
    float: right;
    margin: 0 0 15px 15px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 67%;
}

#legend {
    position: absolute;
    right: 15px;
    bottom: 20px;
    padding: 8px 15px;
    background: whitesmoke;
    border: 2px solid #8B4513;
    border-radius: 3px;
    color: #8B4513;
    width: 160px;
}

#legend h3 {
    text-align: left;
    font-weight: 500;
    margin: 10px 0 20px;
}

#legend h4 {
    text-align: left;
    font-weight: 500;
    margin: 10px 0 20px;
}
#legend p {
    margin: 0 0 5px 0;
}

#legend span {
    display: block;
    border-radius: 50%/50%;
    float: left;
    height: 15px;
    width: 15px;
    text-align: right;
    font-size: 9px;
    color: #8B4513;
    margin-right: 10px;
}
#legend span.square {
    border-radius: 0;
}
#legend a {
    color: #8B4513;
}

#info {
    padding: 8px 15px;
    background: whitesmoke;
    border: 2px solid #8B4513;
    border-radius: 3px;
    color: #8B4513;
    position: absolute;
    font-size: 1em;
    max-width: 200px;
    display: none;
}

#info span:last-child {
    font-size: 1.3em;
    font-weight: 500;
}

#info p {
    margin: 3px 0 4px;
}

.cattle {
    color: #6813D2;
}

.goats {
    color: #DAA520;
}

.sheep {
    color: #008000;
}

.density {
    color: #CD853F;
}